---
- name: Install and configure web server
  apt:
    name: apache2
    state: present
  become: yes

- name: Ensure web server is started and enabled
  service:
    name: apache2
    state: started
    enabled: yes
