---
- name: Install httpd package
  package:
    name: httpd
    state: present

- name: Enable and start httpd service
  service:
    name: httpd
    state: started
    enabled: yes

- name: Deploy virtual host configuration
  template:
    src: vhost.conf.j2
    dest: /etc/httpd/conf.d/vhost.conf
  notify: restart httpd
