<VirtualHost *:80>
    ServerName www.example.com
    ServerAlias example.com
    DocumentRoot /var/www/web

    <Directory " /var/www/web">
        Options Indexes FollowSymLinks
        AllowOverride None
        Require all granted
    </Directory>

    ErrorLog logs/virtualhost_error.log
    CustomLog logs/virtualhost_access.log combined
</VirtualHost>