<VirtualHost *:80>
    ServerName www.test.com
    ServerAdmin webmaster@test.com
    DocumentRoot /var/www/web

    <Directory /var/www/web>
        Options Indexes FollowSymLinks
        AllowOverride None
        Require all granted
    </Directory>

    ErrorLog /var/log/httpd/web_error.log
    CustomLog /var/log/httpd/web_access.log combined
</VirtualHost>