{% extends "vhost_base.conf.j2" %}

{% block vhost_config %}
<VirtualHost *:80>
    ServerAdmin {{ vhost_server_admin }}
    ServerName {{ vhost_domain }}
    DocumentRoot "{{ vhost_document_root }}"

    <Directory "{{ vhost_document_root }}">
        Options Indexes FollowSymLinks
        AllowOverride All
        Require all granted
    </Directory>

    ErrorLog ${APACHE_LOG_DIR}/{{ vhost_domain }}-error.log
    CustomLog ${APACHE_LOG_DIR}/{{ vhost_domain }}-access.log combined
</VirtualHost>
{% if vhost_ssl_enabled %}
<IfModule mod_ssl.c>
<VirtualHost *:443>
    ServerAdmin {{ vhost_server_admin }}
    ServerName {{ vhost_domain }}
    DocumentRoot "{{ vhost_document_root }}"

    SSLEngine on
    SSLCertificateFile "{{ vhost_ssl_certificate }}"
    SSLCertificateKeyFile "{{ vhost_ssl_certificate_key }}"

    <FilesMatch ".*\.(cgi|shtml|phtml|php)$">
        SSLOptions +StdEnvVars
    </FilesMatch>
    <Directory /usr/lib/cgi-bin>
        SSLOptions +StdEnvVars
    </Directory>

    ErrorLog ${APACHE_LOG_DIR}/{{ vhost_domain }}-ssl-error.log
    CustomLog ${APACHE_LOG_DIR}/{{ vhost_domain }}-ssl-access.log combined
</VirtualHost>
</IfModule>
{% endif %}
{% endblock %}