- name: Install httpd package
  yum:
    name: httpd
    state: present

- name: Enable and start httpd service
  service:
    name: httpd
    state: started
    enabled: true

- name: Deploy web server vhost configuration from template
  template:
    src: vhost.conf.j2
    dest: /etc/httpd/conf.d/vhost.conf
  notify: Restart httpd
