- name: Install httpd package
  yum:
    name: httpd
    state: present

- name: Ensure httpd is started and enabled
  service:
    name: httpd
    state: started
    enabled: true

- name: Create /var/www/web directory
  file:
    path: /var/www/web
    state: directory
    owner: apache
    group: apache
    mode: '0755'

- name: Deploy index.html
  copy:
    src: index.html
    dest: /var/www/web/index.html
    owner: apache
    group: apache
    mode: '0644'

- name: Deploy VirtualHost configuration
  template:
    src: vhost.conf.j2
    dest: /etc/httpd/conf.d/webserver.conf
  notify: restart httpd

- name: Open HTTP port in firewall
  firewalld:
    port: 80/tcp
    permanent: yes
    state: enabled
  when: ansible_facts['os_family'] == 'RedHat'

- name: Reload firewalld
  firewalld:
    state: reloaded
  when: ansible_facts['os_family'] == 'RedHat'

- name: Ensure firewalld service is running
  service:
    name: firewalld
    state: started
    enabled: yes
  when: ansible_facts['os_family'] == 'RedHat'
